<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="md-arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titleT">
      Questões
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list class="bg-transparent">
    <ion-item color="none" lines="none">
      <ion-label>Questionário</ion-label>
      <ion-button fill='clear' (click)='abrirQuestionario("1")' size='large'>
        <ion-icon name="ios-add-circle"></ion-icon>
      </ion-button>
      <ion-button fill='clear' color="success" (click)='respostasQuestionario("1")' size='large'>
        <ion-icon name='ios-checkmark-circle'></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>




  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size='medium'>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>