<ion-header>
  <ion-toolbar mode="ios">
    <ion-title text-center>
      Bem Vindo
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value)">
    <ion-item>
      <ion-label position="floating" color="black">Nome do responsável</ion-label>
      <ion-input type="text" formControlName="nomeResponsavel"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validacoes_erros.nomeResponsavel">
        <div class="error-message"
          *ngIf="formulario.get('nomeResponsavel').hasError(validation.type) && (formulario.get('nomeResponsavel').dirty || formulario.get('nomeResponsavel').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="black">Nome da criança</ion-label>
      <ion-input type="text" formControlName="nomeCrianca"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validacoes_erros.nomeCrianca">
        <div class="error-message"
          *ngIf="formulario.get('nomeCrianca').hasError(validation.type) && (formulario.get('nomeCrianca').dirty || formulario.get('nomeCrianca').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="black">Data de nascimento</ion-label>
      <ion-datetime formControlName="dataNascimento" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validacoes_erros.dataNascimento">
        <div class="error-message"
          *ngIf="formulario.get('dataNascimento').hasError(validation.type) && (formulario.get('dataNascimento').dirty || formulario.get('dataNascimento').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="black">Parentesco</ion-label>
      <ion-input type="text" formControlName="parentesco"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validacoes_erros.parentesco">
        <div class="error-message"
          *ngIf="formulario.get('parentesco').hasError(validation.type) && (formulario.get('parentesco').dirty || formulario.get('parentesco').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="black">Prematuro</ion-label>
      <ion-input type="text" formControlName="prematuro"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validacoes_erros.prematuro">
        <div class="error-message"
          *ngIf="formulario.get('prematuro').hasError(validation.type) && (formulario.get('prematuro').dirty || formulario.get('prematuro').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!formulario.valid">Salvar
    </ion-button>
  </form>
</ion-content>