<ion-header>
  <ion-toolbar mode="ios">
    <ion-title text-center>
      Bem Vindo
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card color="light">
    <ion-img src="/assets/background.png">
      <ion-card-header>
      </ion-card-header>
    </ion-img>
    <ion-card-content>
      <ion-card-title class="animated flash swing delay 5s" text-center mode="ios" text-center color="black">
          <ion-button mode="ios" color="primary">
              Responder Questionário
            </ion-button>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>