<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="md-arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titleT">
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item text-center>
    <ion-label color="dark" class="ion-text-wrap" text-center>Faculdade de Medicina de Hadassah e Universidade Hebraica de Jerusalém</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">Traduzido e adaptado por Lívia Magalhães, Ana Amélia Cardoso, Ana Cláudia Lima e Aneide Rabelo
      Com permissão das autoras do Little DCDQ: Tanya Rihtman, Professora Shula Parush e Brenda Wilson</ion-label>
  </ion-item>
</ion-content>